<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Тест на оптимизм</title>
    <link rel="stylesheet" href="build/all.min.css">
</head>
<body>
<div class="container">
    <h1>Тест на оптимизм</h1>
    <div id="instructions" class="panel panel-default">
        <div class="panel-heading">Инструкция</div>
        <div class="panel-body">
            <p>Для ответа на каждый из вопросов вы можете затратить столько
            времени, сколько хотите. В среднем на тест обычно требуется около
            пятнадцати минут. Среди ответов нет правильных и неправильных.
            Прочитайте описание каждой ситуации и постарайтесь наглядно
            представить, что все это происходит с вами. Может быть, вы не попадали в
            некоторые из описанных ситуаций, но это не имеет значения. Может
            случиться так, что, с вашей точки зрения, ни один из ответов не подходит
            точно; тогда постарайтесь выбрать тот из них, который
            вам кажется наиболее подходящим.</p>
            <button class="btn btn-primary btn-block" id="startTest">Начать тест</button>
        </div>
    </div>
    <div id="requestResult" class="panel panel-default">
        <div class="panel-heading">Расшифровка результата</div>
        <div class="panel-body">
            <form id="requestResultForm">
                <div class="form-group">
                    <textarea class="form-control" name="jsonData" placeholder="вставьте данные"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-block" type="submit">Расшифровать результат</button>
                </div>
            </form>
        </div>
    </div>
    <div id="questionPanel" class="panel panel-default" style="display: none;">
        <div class="panel-body">
            <h4 id="questionTitle" style="display: inline-block; height: 60px;"></h4>
            <div>
                <button class="btn btn-block" style="white-space: normal; margin-bottom: 10px;" id="optionA"
                        onclick="module.answer(true)"></button>
                <button class="btn btn-block" style="white-space: normal; margin-bottom: 10px;" id="optionB"
                        onclick="module.answer(false)"></button>
            </div>
        </div>
    </div>
    <div id="result"></div>
</div>

<script id="resultTemplate" type="text/x-jsrender">
 <div class="panel panel-default">
        <div class="panel-heading">Результаты</div>
        <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Скопируйте эти данные, чтобы сохранить ваш результат</label>
                <textarea class="form-control">{{:json}}</textarea>
            </div>
            </form>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Постоянство плохих событий</h4>
                    <p class="list-group-item-text">
                        {{if PmB < 2}}
                            Вы весьма оптимистичны по этому параметру
                        {{else PmB < 4}}
                            Вы умеренно оптимистичны
                        {{else PmB < 5}}
                            Средний результат
                        {{else PmB < 7}}
                            Вы вполне пессимистичны
                        {{else}}
                            Вы крайне пессимистичны
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Постоянство хороших событий</h4>
                    <p class="list-group-item-text">
                        {{if PmG > 6}}
                            Вы очень оптимистично настроены относительно возможности того, что хорошие события будут продолжаться
                        {{else PmG > 5}}
                            Умеренно оптимистичная оценка
                        {{else PmG > 3}}
                            Вымеренно пессимистичная
                        {{else}}
                            Вы весьма пессимистичны
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Персонализация плохого</h4>
                    <p class="list-group-item-text">
                        {{if PsB < 2}}
                            Указывает на очень высокую самооценку
                        {{else PsB < 4}}
                            Умеренная самооценка
                        {{else PsB < 5}}
                            Средняя самооценка
                        {{else PsB < 7}}
                            Умеренно низкая самооценка
                        {{else}}
                            Очень низкая самооценка
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Персонализация хорошего</h4>
                    <p class="list-group-item-text">
                        {{if PmG > 6}}
                            Очень оптимистичная оценка
                        {{else PmG > 5}}
                            Умеренно оптимистичная оценка
                        {{else PmG > 3}}
                            Средняя оценка
                        {{else PmG > 2}}
                            Умеренно пессимистичная
                        {{else}}
                            Очень пессимистичная оценка
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Пространственное распространение плохих событий</h4>
                    <p class="list-group-item-text">
                        {{if PvB < 2}}
                            Очень оптимистично
                        {{else PvB < 4}}
                            Умеренно оптимистично
                        {{else PvB < 4}}
                            Средний показатель
                        {{else PvB < 4}}
                            Умеренно пессимистично
                        {{else}}
                            Весьма пессимистично
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Пространственное распространение хороших событий</h4>
                    <p class="list-group-item-text">
                        {{if PvG > 6}}
                            Весьма оптимистично
                        {{else PvG > 4}}
                            Умеренно оптимистично
                        {{else PvG > 4}}
                            Промежуточная ситуация
                        {{else PvG > 2}}
                            Умеренно пессимистично
                        {{else}}
                            Весьма пессимистично
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Коэффициент надежды</h4>
                    <p class="list-group-item-text">
                        {{if HoB < 3}}
                            Вы преисполнены надежд
                        {{else HoB < 7}}
                            Умеренные надежды
                        {{else HoB < 9}}
                            Промежуточная ситуация
                        {{else HoB < 12}}
                            Вы умеренно безнадежны
                        {{else}}
                            Вы абсолютно безнадежны
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Итог по благоприятным событиям</h4>
                    <p class="list-group-item-text">
                        {{if G > 17}}
                            Вы относитесь к хорошим событиям весьма оптимистично
                        {{else G > 16}}
                            Ваше мышление умеренно оптимистично
                        {{else G > 13}}
                            Промежуточные значения
                        {{else G > 10}}
                            Вы рассуждаете вполне оптимистично
                        {{else}}
                            Глубокий пессимизм
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Итог по неблагоприятным событиям</h4>
                    <p class="list-group-item-text">
                        {{if B < 6}}
                            Вы замечательно оптимистичны
                        {{else B < 10}}
                            Вы умеренно оптимистичны
                        {{else B < 12}}
                            Промежуточные значения
                        {{else}}
                            Умеренно пессимистичны
                        {{/if}}
                        {{if B > 14}}
                            <p><strong>Результат требует обязательной корректировки</strong></p>
                        {{else}}
                            <span></span>
                        {{/if}}
                    </p>
                </li>
                <li class="list-group-item active">
                    <h4 class="list-group-item-heading">Окончательный итог</h4>
                    <p class="list-group-item-text">
                        {{if GmB > 8}}
                            Вы весьма оптимистичны в широком диапазоне условий
                        {{else GmB > 5}}
                            Вы умеренно оптимистичны
                        {{else GmB > 2}}
                            Промежуточные значения
                        {{else GmB > 0}}
                            Умеренно пессимистичны
                        {{else}}
                            Вы весьма пессимистичны
                        {{/if}}
                    </p>
                </li>
            </ul>
        </div>
    </div>

</script>
<script src="build/all.min.js"></script>
<script src="app.js"></script>
</body>
</html>